<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta name="viewport" content="width=device-width"/>
  <meta charset="UTF-8">
  <title><TMPL_VAR name></title>
  <link rel="stylesheet" type="text/css" href="/style.css"/>
  <link href="atom.xml" rel="alternate" type="application/atom+xml"
        title="Atom feed" />
</head>
<body>
  <div id="page">
    <div id="header">
      <h1><a href=""><TMPL_VAR name></a></h1>
    </div>

    <div id="content" class="narrowcolumn">
      <TMPL_LOOP Items>
        <div class="post">
          <TMPL_IF title>
            <h2>
              <a href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title ESCAPE="HTML">"><TMPL_VAR channel_name></a>: 
              <a rel="bookmark" href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR title></a>
            </h2>
          </TMPL_IF>
          <TMPL_IF icon>
            <img class="feed-icon" src="<TMPL_VAR icon>" alt="<TMPL_VAR channel_title ESCAPE="HTML">" />
          </TMPL_IF>
          <div class="entry">
            <TMPL_VAR content>
              <div class="link"><a href="<TMPL_VAR link ESCAPE="HTML">" rel="bookmark"><TMPL_VAR link ESCAPE="HTML"></a></div>
              </div>
            
          <pre class="mode-line">-1:-- <a href="<TMPL_VAR link ESCAPE="HTML">" rel="bookmark"><TMPL_VAR title ESCAPE="HTML"></a> (Post<TMPL_IF author> <TMPL_VAR author></TMPL_IF>)--L0--C0--<TMPL_VAR date></pre>
        </div>
      </TMPL_LOOP>
    </div> <!-- #content -->

    <div id="sidebar">
      <ul>
        <li><img src="/E-flag01.png" alt="Planet Emacsen logo, by e1f" /></li>
        <li>
          <h2><TMPL_VAR name></h2>
          <ul>
            <li><a type="application/atom+xml" href="atom.xml" rel="alternate"><img src="/feed-icon-14x14.png" alt="Atom feed" /></a></li>
            <li>powered by <a href="http://intertwingly.net/code/venus/">Planet Venus</a></li>
            <li>logo by <a href="http://www.ee.ryerson.ca/~elf/">Luis Fernandes</a></li>
            <li><a href="/">en</a> run by <a href="http://sachachua.com">Sacha Chua</a></li>
            <li><a href="/ru/">ru</a> run by <a href="http://alexott-ru.blogspot.com/">Alex Ott</a></li>
            <li><a href="/zh/">zh</a> run by <a href="https://github.com/RenWenshan">Wenshan</a></li>
            <li><a href="http://planet.emacs-es.org/">es</a> run by drymer (external)
          </ul>
        </li>
        <li>
          <script type="text/javascript">
            var fsf_widget_size = "normal";
            var fsf_associate_id = "7019";
          </script>
          <script type="text/javascript"
                  src="http://www.fsf.org/graphics/widget/global/widget.js"></script>
        </li>
        <li>
          <h2>Subscriptions (<a href="opml.xml">OPML</a>)</h2>
          <ul>
            <TMPL_LOOP Channels>
              <li><a href="<TMPL_VAR link ESCAPE="HTML">" title="<TMPL_VAR title ESCAPE="HTML">"><TMPL_VAR name></a> <a href="<TMPL_VAR url ESCAPE="HTML">">(feed)</a></li>
            </TMPL_LOOP>
          </ul>
        </li>
        <li><a href="https://emacslife.com/calendar">Calendar of upcoming events</a></li>
      </ul>
    </div>
  </div> <!-- .page -->
</body>
</html>
